﻿table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 3px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

tr:nth-child(even) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: white;
}
